<div id="header" class="center-content">
  <div id="title">
    <a href="/">
      DTP
    </a>
  </div>
  <div id="description">
    Telegraph Platform
  </div>

  <div id="right-side">
    <div id="icons">
      <div id="search" onclick="Popup.open('popup-search-input')">
        <img src="/images/search-filled-500-black.png" class="img-nm" night-src="/images/search-filled-500-white.png" />
      </div>
    </div>
    {{#noAuth}}
    <div id="drop-button" onclick="Popup.open('popup-studio-landing')">
      Log In
    </div>
    {{/noAuth}}
    {{#auth}}
      <a href="/cs">
      {{#photo}}
        <div id="user-photo" style="background-image: url({{photo}})"></div>
      {{/photo}}
      {{#symbolPhoto}}
        <div id="user-symbol-photo"><span>{{symbolPhoto}}</span></div>
      {{/symbolPhoto}}
      </a>  
    {{/auth}}
  </div>

</div>