<div id="empty-accounts">
    <img src="/images/1699a59e94cf81dfa1.gif" />
    <div>
      There are no accounts, but you can create them so that the team can access the Telegraph!
    </div>
  </div>