{{#list}}
<div class="item" onclick="CStudio.openManageAccount('{{id}}');">
    <div id="text-photo">{{textPhoto}}</div>
    <div id="right">
      <div id="name">{{short_name}}</div>
      <div id="manage">
        {{#isOwner}}
        <a href="#" onclick="event.stopPropagation(); CStudio.removeAccount('{{id}}');">Delete</a>
        {{/isOwner}}
        {{#isEditor}}
        <a href="#" onclick="event.stopPropagation(); CStudio.removeAccount('{{id}}');">Leave</a>
        {{/isEditor}}
      </div>
    </div>
</div>
{{/list}}