{{#list}}
  <div class="post">
    <div id="title">
      {{preview.title}}
    </div>
    <div id="manage">
      {{#short_id}}
      <a href="/{{short_id}}" target="_blank">Open DTP</a>
      {{/short_id}}
      <a href="{{preview.url}}" target="_blank">Open Telegra.ph</a>
      {{#nopublished}}
      <a href="#" onclick="return CStudio.openPublish({title: '{{preview.title}}', link: '{{preview.url}}'}, event);">Publish to DTP</a>
      {{/nopublished}}
    </div>
    <div id="widgets">
        <div id="views" class="widget">
          <img src="/images/view-100-black.png" night-src="/images/view-100-white.png" class="img-nm" />
          <span>{{preview.views}}</span>
        </div>
        {{#short_id}}
        <div id="rate-up" class="widget right">
          <img src="/images/up-filled-100-black.png" night-src="/images/up-filled-100-white.png" class="img-nm" />
          <span>{{votes.up}}</span>
        </div>
        <div id="rate-down" class="widget right">
          <img src="/images/down-filled-100-black.png" night-src="/images/down-arrow-filled-100-white.png" class="img-nm" />
          <span>{{votes.down}}</span>
        </div>
        {{/short_id}}
      </div>
  </div>
{{/list}}