<div id="page-post" class="main-container">
  {{#noAMP}}
  <div id="panel">
    <a href="/" class="l-dtp">DTP</a>
    <a href="#" onclick="return NightMode.switch();" class="l-nm">Night Mode</a>
    <a href="{{url}}" class="l-origin">Original</a>
  </div>
  {{/noAMP}}
  <h2 class="main-title">
    {{title}}
  </h2>
  <article id="content">
    {{{content}}}
  </article>
  <div id="footer">
      <div id="rate">
        <div id="title">
          Did you like this?
        </div>
        {{#noTelegramID}}
        <a href="https://t.me/{{publisherBot}}?start=like{{shortId}}" target="_blank">
        {{/noTelegramID}}
          <div class="rate-button" id="r-yes" {{#isTelegramID}}onclick="Posts.rate('{{shortId}}', 1)"{{/isTelegramID}}>
            Yes
          </div>
        {{#noTelegramID}}</a>{{/noTelegramID}}
        {{#noTelegramID}}
        <a href="https://t.me/{{publisherBot}}?start=dislike{{shortId}}" target="_blank">
        {{/noTelegramID}}
          <div class="rate-button" id="r-no" {{#isTelegramID}}onclick="Posts.rate('{{shortId}}', -1)"{{/isTelegramID}}>
            No
          </div>
        {{#noTelegramID}}</a>{{/noTelegramID}}
    
        <div id="description">
          {{#noTelegramID}}
          A bot will be launched to evaluate the publication.
          {{/noTelegramID}}
        </div>
      </div>
      <div id="meta">
        {{#author_url}}
        <a href="{{author_url}}" target="_blank">
        {{/author_url}}
        {{#author_name}}
          <div id="author-name">{{author_name}}</div>
        {{/author_name}}
        {{#author_url}}
        </a>
        {{/author_url}}
        <div id="time">{{publishedDate}}</div>
      </div>
  </div>
</div>

{{#noAMP}}
<div id="scroll-navbar">
  <div class="butt up">↑</div>
</div>
{{/noAMP}}