<div id="page-tune">
  <div id="panel">
    <div class="button">
      <a href="/">
        <img src="/images/icons8-gas-100-red.png" />
      </a>
    </div>
  </div>
  <div id="title">
    Tune the Trenging
  </div>
  <div id="user-name">
    {{first_name}} {{last_name}}
  </div>

  <div id="box">
    <div class="item" id="language-box">
      <div id="title">
        Language
      </div>
      <div id="content">
        <div class="lang" id="lang-all" onclick="Tune.setLanguage(this.id)">All</div>
        <div class="lang" id="lang-ru" onclick="Tune.setLanguage(this.id)">Russian</div>
        <div class="lang" id="lang-en" onclick="Tune.setLanguage(this.id)">English</div>
        <div class="lang" id="lang-uk" onclick="Tune.setLanguage(this.id)">Ukrainian</div>
        <div class="lang" id="lang-fr" onclick="Tune.setLanguage(this.id)">French</div>
        <div class="lang" id="lang-it" onclick="Tune.setLanguage(this.id)">Italian</div>
        <div class="lang" id="lang-es" onclick="Tune.setLanguage(this.id)">Spanish</div>
        <div class="lang" id="lang-nl" onclick="Tune.setLanguage(this.id)">Dutch</div>
        <div class="lang" id="lang-other" onclick="Tune.setLanguage(this.id)">Other</div>
      </div>
    </div>

    <div class="item" id="keywords-box">
      <div id="title">
        Keywords
      </div>
      <div id="content">
        <div id="words">
          
        </div>
        <div id="input">
          <input type="text" id="words-input" onchange="Tune.addWord(this)" maxlength="26" placeholder="Add Words" />
        </div>
      </div>
    </div>
  </div>
</div>