<div id="page-telegraph-publish">
  {{#image}}
    <div id="post-cover" style="background-image: url({{image}})"></div>
  {{/image}}
  <h2 id="title">
    {{title}}
  </h2>
  <h3 id="description">
    {{description}}
  </h3>
  <div id="settings">
    <button onclick="CStudio.openPublish({link: 'http://telegra.ph/{{path}}', title: '{{title}}', authorName: '{{asName}}', account_id: {{accountId}}, afterGo: true});">
      Publish as {{asName}}
    </button>
    <a href="http://telegra.ph/{{path}}">Open Telegraph</a>
  </div>
</div>

{{{popup_publish_post}}}