<html>
  <head>
    <title>{{ title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link rel="shortcut icon" href="/images/favicon2.ico" type="image/x-icon" />
    {{#ampURL}}
    <link rel="amphtml" href="{{ampURL}}">  
    <link rel="canonical" href="{{originURL}}">
    {{/ampURL}}  
    <style amp-boilerplate>{{AMPStyle}}</style>
  </head>
  <body>
    <div class="page-root">
      {{{ page }}}
    </div>
  </body>
</html>