<html>
  <head>
    <title>{{ title }}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="robots" content="index, follow" />
    <meta property="og:site_name" content="DTP" />

    {{#notPost}}
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="DTP is platform and toolkit for authors of publications in Telegraph." />
    <meta property="og:image" content="/images/logo.png">
    {{/notPost}}

    {{#postData}}
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{title}}" />
    <meta property="og:description" content="{{description}}" />
    {{#image_url}}
    <meta property="og:image" content="{{{image_url}}}" />
    {{/image_url}}
    {{#iv_cover}}
    <meta property="telegraph_cover" content="{{{iv_cover}}}" />
    {{/iv_cover}}
    <meta property="article:published_time" content="{{date}}" />
    <meta property="article:author" content="{{author_name}}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{title}}" />
    <meta name="twitter:description" content="{{description}}" />
    {{#image_url}}
    <meta name="twitter:image" content="{{{image_url}}}" />
    {{/image_url}}
    <meta name="keywords" content="{{keywords}}" />
    <meta http-equiv="content-language" content="{{language}}">
    {{/postData}}

    {{#notPost}}
    <meta name="keywords" content="dtp,telegraph,telegraph platform,blog platform,stock,telegraph платформа,блог платформа,инструментарий telegraph" />
    {{/notPost}}
    
    <link rel="shortcut icon" href="/favicon.ico?v{{timestamp}}" type="image/x-icon" />
    <link rel="icon" type="image/png" href="/images/logo.png">
    <link rel="apple-touch-icon" href="/images/logo.png">
    <link rel="stylesheet" type="text/css" href="/styles/font.css?v{{timestamp}}" />
    <link rel="stylesheet" type="text/css" href="/styles/app.css?v{{timestamp}}" />

    <meta name="msapplication-tile-image" content="/images/logo.png">

    {{#ampURL}}
    <link rel="amphtml" href="{{ampURL}}">  
    <link rel="canonical" href="{{originURL}}">
    {{/ampURL}}  

    {{#nightMode}}
    <style>
      html, body {
        background: rgb(24, 24, 24);
      }
    </style>
    {{/nightMode}}
  </head>
  <body>
    <div class="page-root">
      {{{ page }}}
    </div>

    <!-- SCRIPTS -->
    {{#env_prod}}
    <script src="/js/app.js?v{{timestamp}}"></script>
    {{/env_prod}}
    {{#env_dev}}
    <script src="/js/app-dev.js?v{{timestamp}}"></script>
    {{/env_dev}}
    {{#nightMode}}
    <script>
      NightMode.on();
    </script>
    {{/nightMode}}
    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter48267401 = new Ya.Metrika({
                  id:48267401,
                  clickmap:true,
                  trackLinks:true,
                  accurateTrackBounce:true
              });
          } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/48267401" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  </body>
</html>