<div id="contacts-page">
  <img src="/images/tl_card_process.gif" />
  <h2>
    Contact us!
  </h2>
  <div id="desc">
    We are ready to answer any questions related to the project and listen to any ideas that can make it better. To write to us, use one of the following methods of communication!
  </div>
  <div id="links">
    <a href="mailto:msg@tph.su" target="_blank">E-mail</a>
    <a href="https://twitter.com/dtp_tech" target="_blank">Twitter</a>
    <a href="https://vk.me/d_tech" target="_blank">VK Messages</a>
  </div>
  <h2>
    Follow our news!
  </h2>
  <div id="desc">
    All the innovations and news can be read here!
  </div>
  <div id="links">
    <a href="https://t.me/DTPNews" target="_blank">Telegram</a>
    <a href="/blog" target="_blank">Blog</a>
  </div>
  <div id="back">
    <a href="/">← Back to home</a>
  </div>
</div>