<html>
  <head>
    <title>About</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <link rel="shortcut icon" href="/images/favicon2.ico??v{{timestamp}}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/styles/font.css?v{{timestamp}}" />
    <link rel="stylesheet" type="text/css" href="/styles/about.css?v{{timestamp}}" />
    <script src="/js/about.js"></script>
  </head>
  <body>
    <div id="root">
      <div class="slide" id="slide-1">
        <img src="/images/about/black-logo.png" id="main-logo" />
        <div class="description">
          a new house for your pages
        </div>
      </div>
      <div class="slide" id="slide-2">
        <div class="round-box">
            <div class="round-image" style="background-image: url(/images/about/telegraph-img.jpeg); background-position: -222px 0;"></div>
            <div class="round-info">
              <div class="title">Now all your publications in Telegraph are in one place!</div>
              <div class="description">
                  Collect all your publications in one place, readers will be easier to evaluate your creativity!
              </div>
            </div>
        </div>
      </div>
      <div class="slide" id="slide-3">
        <div class="round-box right">
          <div class="round-info">
            <div class="title">Together. Easy. Fast.</div>
            <div class="description">
              Now it's easy to work together. Use group accounts to work together on content.
            </div>
          </div>
          <div class="round-image" style="background-image: url(/images/about/instantview-img.png); background-position: -180px 0;"></div>
        </div>
      </div>
      <div class="slide" id="slide-4">
        <div class="title">
            Superpowers
        </div>
        <div class="boxs">
          <div class="box">
            <div class="ico">
              <img src="/images/about/ecosystem.png" />
            </div>
            <div class="tit">Ecosystem</div>
            <div class="desc">
              A perfect addition to the minimalist world of the Telegraph.
            </div>
          </div>
          <div class="box">
            <div class="ico">
              <img src="/images/about/authorpage.png" />
            </div>
            <div class="tit">Author Pages</div>
            <div class="desc">
              Create an author's name, to attach to publications. Ready!
            </div>
          </div>
          <div class="box">
            <div class="ico">
              <img src="/images/about/members.png" />
            </div>
            <div class="tit">Group Accounts</div>
            <div class="desc">
              Accounts with access to up to 20 members will help teams work together!
            </div>
          </div>
          <div class="box">
            <div class="ico">
              <img src="/images/about/short.png" />
            </div>
            <div class="tit">Short Links</div>
            <div class="desc">
              The way to you should be short!
            </div>
          </div>
          <div class="box">
            <div class="ico">
              <img src="/images/about/rate.png" />
            </div>
            <div class="tit">System of Interests</div>
            <div class="desc">
              Gather feedback from readers! We will continue to develop a system of interests.
            </div>
          </div>
          <div class="box">
            <div class="ico">
              <img src="/images/about/free.png" />
            </div>
            <div class="tit">Forever Free</div>
            <div class="desc">
                The project was developed on a creative initiative. And it will not become commercial.
            </div>
          </div>
        </div>
      </div>
     
      <a href="/" id="drop">
        <button id="drop">
          HOME
        </button>
      </a>
    </div>

    <!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter48267401 = new Ya.Metrika({
                  id:48267401,
                  clickmap:true,
                  trackLinks:true,
                  accurateTrackBounce:true
              });
          } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";

      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/48267401" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  </body>
</html>