<div id="page-author" ex="true">
  <div id="left-box">
      <a href="/">
      <div id="dtpfats"></div>
      </a>
      <div id="author-name">
        {{author_name}}
      </div>
  </div>
  <div id="search-box" onclick="$('#search-input').focus();">
    <div id="icon">
      <img src="/images/search-filled-500-black.png" />
    </div>
    <div id="input">
      <input type="text" id="search-input" onchange="AuthorPage.setSearchQuery(this.value);" placeholder="Search for posts" />
    </div>
  </div>
  <div id="right-box">
    <div id="list">
       
    </div>
    <div id="pagination-box">
      
    </div>
  </div>
</div>