<div class="popup-window" id="popup-search-input">
    <div id="shadow" onclick="Popup.close()"></div>
    <div id="box">
      <input type="text" id="query" onchange="Search.go({query: this.value})" placeholder="Enter search term..." />
    </div>
  </div>