<div class="popup-window" id="popup-account-info">
  <div id="shadow" onclick="Popup.close('popup-account-info')"></div>
  <div id="box">
    <h2 id="title"><span id="action">New</span> account</h2>
    <div id="form">
      <div class="data">
        <div id="tit">Short name</div>
        <div id="input">
          <input type="text" maxlength="32" placeholder="*" id="v-short-name" />
        </div>
      </div>
      <div class="data">
        <div id="tit">Author name</div>
        <div id="input">
          <input type="text" maxlength="128" id="v-author-name" />
        </div>
      </div>
      <div class="data">
        <div id="tit">Author URL</div>
        <div id="input">
          <input type="text" maxlength="512" id="v-author-url" />
        </div>
        <div id="sett-butt" onclick="Popup.open('popup-author-url', true);">
          @
        </div>
      </div>
    </div>
    <div id="import-description">
      You can also <span onclick="Popup.open('popup-import-telegraph', true);">transfer</span> to us an existing account with all the content.
    </div>
    <button id="save" onclick="CStudio.onSaveAccountInfo();">Save</button>
  </div>
</div>