<div class="popup-window" id="popup-publish-post">
    <div id="shadow" onclick="Popup.close()"></div>
    <div id="box">
      <h2 id="title">Publish as <span>test</span></h2>
      <div id="description">
        The publication will become available to others from this account.
      </div>

      <div id="link">
        <div id="tit">5 секретов успеха Шерлока</div>
        <a href="http://telegra.ph/5-sekretov-uspeha-SHerloka-01-23" target="_blank">
          http://telegra.ph/5-sekretov-uspeha-SHerloka-01-23
        </a>
      </div>

      <div id="data">
          <div class="item" id="language-box">
            <div id="title">
              Language
            </div>
            <div id="content">
              <div id="language-loading"></div>
              <div class="lang" id="lang-ru" onclick="CStudio.setPostLanguage(this.id)">Russian</div>
              <div class="lang" id="lang-en" onclick="CStudio.setPostLanguage(this.id)">English</div>
              <div class="lang" id="lang-uk" onclick="CStudio.setPostLanguage(this.id)">Ukrainian</div>
              <div class="lang" id="lang-fr" onclick="CStudio.setPostLanguage(this.id)">French</div>
              <div class="lang" id="lang-it" onclick="CStudio.setPostLanguage(this.id)">Italian</div>
              <div class="lang" id="lang-es" onclick="CStudio.setPostLanguage(this.id)">Spanish</div>
              <div class="lang" id="lang-nl" onclick="CStudio.setPostLanguage(this.id)">Dutch</div>
              <div class="lang" id="lang-other" onclick="CStudio.setPostLanguage(this.id)">Other</div>
            </div>
          </div>
      
          <div class="item" id="keywords-box">
            <div id="title">
              Keywords
            </div>
            <div id="content">
              <div id="words">
                
              </div>
              <div id="input">
                <input type="text" id="keywords-input" onchange="CStudio.addPostWord(this)" maxlength="26" placeholder="Add" />
              </div>
            </div>
          </div>
      </div>

      <div id="loading"></div>
      <button id="save" onclick="CStudio.publishPost();">
        Publish
      </button>
    </div>
</div>