<div class="popup-window" id="popup-author-url">
  <div id="shadow" onclick="Popup.close('popup-author-url')"></div>
  <div id="box">
    <h2 id="title">Author page address</h2>
    <div id="cover">
      <img src="/images/tl_card_usernames.png" />
    </div>
    <div id="description">
        Your readers can easily find other your publications!
    </div>
    
    <div id="input-box">
      <input type="text" onkeyup="CStudio.checkAuthorName();" maxlength="24" id="name-value" placeholder="Enter name" />
    </div>
    <a href="#" id="link-view" target="_blank" onclick="return;">{{shortHost}}/<span></span></a>
    <button id="save" onclick="CStudio.reserveAuthorUsername();">Save</button>
  </div>
</div>