html, body {
  padding-bottom: 50px;

  &, * {
    font-family: CustomSansSerif, Arial;
  }
}

a {
  color: black;
  text-decoration: none;
}

.slide {
  width: 100%;
  min-height: 400px;
  transition: 1s;

  .round-box {
    width: 100%;
    max-width: 850px;
    margin: 10px auto;
    text-align: center;
    overflow: hidden;
  }

  .round-image, .round-info {
    display: inline-block;
    vertical-align: middle;
    margin: 10px 15px;
  }

  .round-image {
    @size: 328px;

    width: @size;
    height: @size;
    background-size: cover;
    overflow: hidden;
    border-radius: 100%;
    border: 5px solid rgb(236, 236, 236);
  }

  img.frame {
    display: block;
    width: 100%;
    max-width: 650px;
    margin: 10px auto;
  }

  @contentSize: 400px;

  .title {
    color: #333333;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    width: 100%;
    max-width: @contentSize;
    margin: 10px auto;
  }

  .description {
    width: 100% - 10px;
    max-width: @contentSize;
    margin: 10px auto;
    padding: 0px 10px;
    opacity: 0.5;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
  }

  .boxs {
    width: 100% - 10px;
    max-width: 1100px;
    margin: 10px auto;
    padding: 0px 10px;
    text-align: center;
    margin-top: 55px;

    .box {
      text-align: left;
      max-width: 250px;
      display: inline-block;
      vertical-align: top;
      margin: 10px 10px;
    }

    .ico {
      margin: 0px auto;
      @size: 160px;
      width: @size;
      height: @size;
      border-radius: 100%;

      span {
        display: inline-block;
        width: 100%;
        color: #4b422f;
        font-size: 13px;
        font-weight: 900;
        position: relative;
        top: 44px;
        text-align: center;
      }

      img {
        height: 160px;
      }
    }

    .tit {
      color: #4b422f;
      font-weight: 700;
      text-align: center;
      font-size: 19px;
      letter-spacing: -0.5px; 
      padding: 0px 10px;
      text-transform: uppercase;
      margin-top: 20px;
      letter-spacing: -1px;
    }

    .desc {
      margin-top: 10px;
      padding: 0px 10px;
      text-align: center;
      line-height: 158%;
      font-size: 15px;
    }
  }

  .ul {
    display: block;
    width: 100% - 10px;
    max-width: 550px;
    margin: 25px auto;
    padding: 10px;
    
    ul {
      list-style-type: upper-roman;

      li {
        font-size: 20px;
        line-height: 25px;
      }
    }
  }
}


#slide-1 {
  overflow: hidden;
  height: 550px;

  img {
    transition: 1s;
    display: block;
    width: 100%;
    max-width: 450px;
    margin: 25px auto;
  }
}

#slide-3 {
  margin-bottom: 60px;
}

#slide-2 {
  margin-bottom: -100px;
}

a#drop {
  margin-top: 100px;
  display: block;
}

button#drop {
    display: block;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -1px;
    font-size: 17px;
    color: #000;
    text-decoration: none;
    border: 2px solid #333;
    border-radius: 16px;
    text-transform: uppercase;
    padding: 4px 12px;
    margin: 25px auto;
    background-color: #fff;
    cursor: pointer;
    outline: none;
}

@media screen and (max-width: 880px) {
  #slide-2{
    margin-bottom: 0px;
  }

  .round-box.right {
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);

    & > div {
      -webkit-transform: scaleY(-1);
      transform: scaleY(-1);
    }
  }
}