#header {
  #title {
    font-size: 35;
    font-weight: 700;
    padding: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: inline-block;

    a {
      color: black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  #description {
    position: relative;
    padding: 10px;
    padding-top: 5px;
    padding-left: 2px;
    opacity: 0.5;
  }

  #right-side {
    position: absolute;
    right: 0px;
    top: 35px;
    display: inline-block;
    text-align: right;

    @borderColor: rgb(66, 66, 66);

    #user-photo {
      width: 35px;
      height: 35px;
      background-size: cover;
      background-position: center;
      display: inline-block;
      border-radius: 100%;
      cursor: pointer;
      position: relative;
      top: -6px;
    }

    #user-symbol-photo {
      width: 35px;
      height: 35px;
      text-transform: uppercase;
      display: inline-block;
      border-radius: 100%;
      border: 2px solid @borderColor;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      position: relative;
      top: -6px;

      span {
        position: relative;
        top: 7px;
      }
    }

    #user-photo, #user-symbol-photo {
      &:hover {
        opacity: 0.6;
      }
    }

    #user-name {
      margin-top: -5px;
      margin-right: -1px;
      opacity: 0.4;
      cursor: pointer;
      text-align: right;
      max-width: 150px;;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 500;
      // text-transform: uppercase;
      font-size: 14px;

      a {
        color: black;
        text-decoration: none;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    div {
      vertical-align: middle;
    }
  }

  #drop-button {
    display: inline-block;
    font-weight: 600;
    font-style: normal;
    letter-spacing: -0.5px;
    font-size: 17px;
    color: #000;
    text-decoration: none;
    border: 2px solid #333;
    border-radius: 16px;
    text-transform: uppercase;
    padding: 4px 12px;
    margin: 0 0 15px;
    background-color: #fff;
    cursor: pointer;
  }

  #icons {
    display: inline-block;
    margin-top: -10px;
    margin-right: 20px;

    div {
      display: inline-block;
      cursor: pointer;
    }

    #search {
      img {
        opacity: 1;
        height: 30px;
      }

      &:hover {
        img {
          opacity: 0.8;
        }
      }
    }
  }
}