a {
  color: black;
  cursor: none;
  text-decoration: none;
}

.post {
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 25px;

  #title {
    font-size: 25px;
    position: relative;
    left: -1px;
    font-weight: 700;
  }

  #cover {
    height: 85px;
    background-position: center;
    background-size: cover;
    margin-top: 10px;
  }

  #description {
    margin-top: 10px;
    opacity: 0.5;
    font-size: 17px;
    line-height: 22px;
  }

  #widgets {
    margin-top: 10px;
    overflow: hidden;

    .widget {
      margin-right: 5px;
      vertical-align: middle;
      display: inline-block;

      img {
        margin-left: 5px;
        height: 20px;
        opacity: 0.5;
        vertical-align: middle;
      }

      span {
        vertical-align: middle;
        opacity: 0.5;
        font-weight: 600;
      }
    }

    .right {
      float: right;
    }
  }

  &:hover {
    #title {
      text-decoration: underline;
    }
  }
}

#list {
  min-width: 520px;
  max-width: 520px;
  display: block;

  #empty-posts {
    text-align: center;
    width: 520px;

    img {
      padding: 25px;
      max-height: 150px;
    }

    div {
      opacity: 0.5;
      font-weight: 700;
    }
  }
}