#contacts-page {
  width: 100%;
  max-width: 750px;
  margin: 0 auto;

  h2 {
    margin: 20px 21px;
  } 

  img {
    display: block;
    margin: 21px auto;
    max-height: 200px;
  }

  #desc {
    font-size: 18px;
    line-height: 25px;
    margin: 5px 21px;
  }

  #links {
    margin: 10px 21px;

    a {
      color: black;
      display: inline-block;
      vertical-align: top;
      padding: 10px 15px;
      border-bottom: 2px solid black;
      text-decoration: none;
      margin-right: 5px;
      opacity: 0.5;
      margin-bottom: 3px;

      &:hover {
        opacity: 1;
        border-bottom: 5px solid black;
        margin-bottom: 0px;
      }
    }
  }

  #back {
    margin-top: 50px;
    text-align: right;

    a {
      margin: 20px 21px;
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 16px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}