#creative-studio-page {
  @sideBorder: 1px solid rgb(233, 233, 233);

  position: relative;
  width: 750px;
  margin: 0px auto;
  min-height: 500px;
  padding-top: 80px;
  padding-bottom: 100px;

  #header-cs {
    position: fixed;
    top: 0px;
    text-align: center;
    padding: 12px 0px;
    background: rgb(255, 255, 255);
    z-index: 10;
    width: 750px;
    border-bottom: 1px solid transparent;
    
    &.with-border {
      border-bottom: 1px solid #e0e0e0;
    }

    a {
      text-decoration: none;
      color: black;
      display: inline-block;
      vertical-align: middle;
    }

    .button {
      padding: 10px;
      cursor: pointer;
      display: inline-block;
      vertical-align: middle;
      position: relative;

      img {
        height: 30px;
        display: inline-block;
        vertical-align: middle;
      }

      &:hover {
        img {
          opacity: 0.6;
        }
      }

    }   

    #text-butt {
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      position: absolute;
      top: 18px;
      right: 0px;

      @borderColor: rgb(66, 66, 66);
      @relativeTop: 15px;

      #user-photo {
        width: 35px;
        height: 35px;
        background-size: cover;
        background-position: center;
        display: inline-block;
        border-radius: 100%;
        vertical-align: middle;
      }

      #user-symbol-photo {
        width: 35px;
        height: 35px;
        text-transform: uppercase;
        display: inline-block;
        border-radius: 100%;
        border: 2px solid @borderColor;
        font-weight: 700;
        text-align: center;
        cursor: pointer;
        vertical-align: middle;

        span {
          position: relative;
          top: 7px;
        }
      }

      .butt {
        vertical-align: middle;
        display: inline-block;
        padding: 10px 5px;
        border-radius: 20px;
        font-size: 14px;
        font-weight: 700;
      }

      #username {
        color: black;
      }

      #logout {
        margin-left: 10px;
        
        &, a {
          color: #3597d4;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  #table-cs {
    margin-top: 10px;

    #menu {
      width: 750px;
      vertical-align: top;
      padding: 15px 0px;
      text-align: center;
      overflow-x: auto;
      overflow-y: hidden;
      white-space:nowrap;

      hr {
        border: none;
        border-top: 5px solid transparent;
      }

      #dinamyc-component {
        display: inline-block;
        vertical-align: middle;
      }

      .li {
        padding: 10px 15px;
        cursor: pointer;
        background: #f3f3f3;
        border-radius: 4px;
        margin-bottom: 5px;
        display: inline-block;
        vertical-align: middle;
        text-align: left;

        img, span {
          vertical-align: middle;
          opacity: 0.9;
        }

        img {
          height: 15px;
        }

        span {
          max-width: 100px;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: Arial, Tahoma;
          font-size: 13px;
          color: #535353;
        }

        &:hover {
          background: #e9e8e8;
        }
      }
    }

    #cs-content {
      width: 750px;

      #cpanel {
        display: none;
        position: relative;
        left: -5px;
        padding: 10px 5px;

        #search-box {
          vertical-align: middle;
          background: #f3f3f3;

          #search-img {
            height: 20px;
            opacity: 0.5;
            display: inline-block;
            vertical-align: middle;
            margin-left: 15px;
          }
  
          #post-search {
            display: inline-block;
            vertical-align: middle;
            outline: none;
            width: 370px;
            padding: 15px;
            border: none;
            font-size: 15px;
            background: transparent;
          }
        }
      }

      #account-title {
        display: none;
        padding: 10px 0px;
        margin-left: -5px;
        overflow: hidden;

        #data {
          display: inline-block;
          vertical-align: middle;
          font-size: 21px;
          font-weight: 700;
          margin-left: 5px;
          color: #2a88cc;

          span {
            color: black;
            font-weight: 200;
            vertical-align: top;
            display: inline-block;
            opacity: 0.5;
            font-size: 12px;
            margin-top: -5px;
            margin-left: 5px;
          }
        }
      }

      #content-manager {
        border-bottom: 3px solid #f3f3f3;

        #from-telegraph-check {
          margin-top: 5px;
          display: inline-block;
          vertical-align: middle;
  
          .ui-text-switcher {
            border: none;
            padding: 0px;
            border-radius: 0px;
            border-bottom: none;
  
            .butt {
              border-radius: 0px;
            }
          }
        }

        #right {
          float: right;
          margin-top: 10px;
          margin-right: 15px;

          a {
            color: #2b88cc;
            text-decoration: none;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }

      }

      #list {
        margin-top: 25px;

        #empty-posts {
          width: 750px;
          text-align: center;
    
          img {
            padding: 25px;
            max-height: 150px;
          }
    
          div {
            opacity: 0.5;
          }
        }

        .to-select {
          text-align: center;
          margin: 25px auto;

          color: #4b412f;
          
          img {
            display: block;
            max-height: 250px;
            margin: 25px auto;
          }

          #text {
            font-weight: 200;
            margin: 10px auto;
            font-size: 17px;
            opacity: 0.5;
            max-width: 411px;
            padding: 5px 10px;
          }
        }

        .post {
          margin: 10px;
          padding: 10px;
          padding-bottom: 20px;
          border-bottom: 1px solid rgb(230, 230, 230);

          #title {
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            word-wrap: break-word;
          }

          #manage {
            display: inline-block;
            vertical-align: middle;
            margin-right: 10px;

            a {
              text-decoration: none;
              color: rgb(44, 44, 44);
              background: rgb(231, 243, 252);
              text-transform: uppercase;
              padding: 5px 10px;
              font-size: 13px;
              border-radius: 25px;
              font-weight: 700;

              &:hover {
                background: rgb(200, 230, 253);
              }
            }
          }

          #widgets {
            display: inline-block;
            vertical-align: middle;
            overflow: hidden;
            border-radius: 25px;
            padding: 5px 10px;
            padding-top: 0px;
            background: rgb(233, 233, 233);
      
            .widget {
              margin-right: 5px;
              vertical-align: middle;
              display: inline-block;
              opacity: 0.7;
      
              img {
                margin-left: 5px;
                height: 15px;
                vertical-align: middle;
              }
      
              span {
                vertical-align: middle;
                font-weight: 600;
                font-size: 13px;
              }
            }
      
            .right:nth-child(1) {
              border-left: 1px solid black;
            }
          }
        }
      }

      #pagination-box {
        #pagination {
          text-align: center;
        }
      }
    }
  }
}