

@whiteNight: #a3a3a3;  

html.night-mode, body.night-mode {
  background: rgb(24, 24, 24);

  * {
    color: @whiteNight !important;
  }
}

#page-post.night-mode {
  #content {
    a {
      border-bottom-color: @whiteNight !important;
    }
  
    blockquote {
      border-left-color: @whiteNight !important;
    }
  
    code {
      background: rgb(54, 54, 54);
    }
  
    img {
      opacity: 0.6;
    }

    video {
      opacity: 0.6;
    }

    pre {
      background: rgb(54, 54, 54);
    }
  }

  #rate {
    .rate-button {
      background: @whiteNight;
      color: black !important;
      border: none;
    }
  }
}

#header.night-mode {
  #drop-button {
    background: @whiteNight;
    color: black !important;
    border: none;
  }
}

#popup-studio-landing.night-mode {
  div#bot-link button {
    color: @whiteNight !important;
    background: rgb(27, 27, 27);
  }

  #box {
    background: rgb(54, 54, 54);
  }

  #cover {
    opacity: 0.6;
  }
}

.post.night-mode {
  #cover {
    opacity: 0.6;
  }
}

#latest-posts {
  #paste-telegraph {
    input.night-mode {
      border-bottom: 3px solid rgb(160, 160, 160);
    }
  } 
}