.popup-window {
  z-index: 20;
  -webkit-overflow-scrolling: touch;
  
  &, #shadow {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow: auto;
  }

  #shadow {
    background: rgba(0,0, 0, 0.45);
  }

  #box {
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
    transition: 0.1s;
    position: absolute;
    top: 25px;
    left: 0px;
    right: 0px;
    width: 100% - 20px;
    padding: 10px;
    max-width: 550px;
    background: white;
    margin: 50px auto;
    min-height: 150px;
    border-radius: 5px;
  }
}