#popup-author-url {
  display: none;
  z-index: 50;
  font-family: Arial;

  #box {
    max-width: 600px;
    overflow: auto;
    padding: 10px 20px;
  }

  #title {
    text-align: center;
  }

  #cover {
    text-align: center;

    img {
      max-height: 220px;
    }
  }

  #description {
    opacity: 0.5;
    max-width: 350px;
    padding: 15px 10px;
    margin: 0 auto;
    line-height: 24px;
    text-align: center;
  }

  #script {
    max-width: 650px;
    padding: 15px 10px;
    margin: 0 auto;

    a {
      color: #348ccf;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    ul {
      li {
        padding: 5px 0px;

        i {
          font-weight: 200;
        }
      }
    }

    .screen {
      display: block;
      padding: 3px;
      width: auto;
      max-width: 100%;
      margin: 3px auto;
    }

    .screen-text {
      padding: 5px;
      text-align: center;
      opacity: 0.5;
    }
  }

  #input-box {
    border-radius: 4px;
    background: #f3f3f3;
    width: 100%;
    max-width: 330px;
    margin: 15px auto;

    input {
      background: transparent;
      border: none;
      outline: none;
      width: 100%;
      padding: 10px;
      font-size: 15px;
    }
  }

  #link-view {
    display: block;
    margin: 5px auto;
    text-align: center;
    color: #7f7f7f;

    &.yes {
      color: #348ccf;
    }

    &.no {
      color: #e9645c;
    }
  }

  button#save {
    display: block;
    border: none;
    padding: 8px 20px;
    text-transform: uppercase;
    cursor: pointer;
    color: #348ccf;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 700;
    margin: 20px auto;
    margin-top: 10px;
    margin-bottom: 10px;
    background: white;

    &:hover {
      background: #e5f1f9;
    }
  }
  
}