#popup-publish-post {
  display: none;
  z-index: 20;
  font-family: Arial;

  #box {
    overflow: auto;
    padding: 10px 20px;
  }

  #language-loading {
    display: block;
  }

  #title {
    font-size: 25px;

    span {
      opacity: 0.2;
    }

    margin-bottom: 8px;
  }

  #description {
    opacity: 0.4;
  }

  #data {
    margin-top: 10px;

    .item {
      margin-bottom: 25px;

      #title {
        padding-bottom: 0px;
        font-weight: 700;
      }

      #content {
        padding: 0px 0px;
        margin-top: 15px;

        .lang, .word {
          display: inline-block;
          padding: 10px 15px;
          border-radius: 4px;
          margin: 3px 1px;
          margin-left: 0px;
          cursor: pointer;
          font-size: 13px;
          color: #348ccf;

          &:hover, &.hover {
            background: #e5f1f9;
          }
        }

        #input {
          width: 100%;

          input {
            border: none;
            display: inline-block;
            padding: 5px 8px;
            font-size: 15px;
            outline: none;
            color: #348ccf;
            border-bottom: 8px solid #e5f1f9;

            &:focus {
              border-bottom-color: #2b88cc;
            }

            &::placeholder {
              text-transform: uppercase;
              color: #348ccfab;
            }
          }
        }
      }
    }
  }

  #link {
    margin-top: 25px;
    padding: 25px 0px;

    a {
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      max-width: 100%;
      color: #2a88cc;
    }

    #tit {
      font-size: 22px;
      padding: 5px 0px;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
      max-width: 100%;
    }
  }

  button#save {
    border: none;
    padding: 10px 30px;
    border-radius: 4px;
    color: white;
    background: #2b88cc;
    cursor: pointer;
    font-size: 17px;
    display: block;
    margin: 20px auto;
  }

}