#popup-studio-landing {
  display: none;

  #box {
    overflow: auto;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 25px;
  }

  #cover {
    padding: 10px;
    background-image: url(/images/telegram01.jpg);
    background-position: center;
    background-size: cover;
    margin-bottom: 25px;
    overflow: hidden;
    min-height: 5px;
  }

  h2#title {
    opacity: 0.8;
    padding: 20px;
    margin: 0px;

    span {
      opacity: 0.5;
      font-size: 12px;
      font-weight: 400;
      vertical-align: top;
    }
  }

  div#description {
    opacity: 0.5;
    padding: 20px;
    padding-top: 0px;
    font-size: 17px;
    line-height: 25px;
    text-align: justify;
  }

  div#bot-link {
    margin-top: 5;
    text-align: center;
    padding: 10px;

    button {
      border: none;
      display: inline-block;
      font-weight: normal;
      text-align: center;
      vertical-align: middle;
      cursor: pointer;
      white-space: nowrap;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      outline: none;
      user-select: none;
      color: #fff;
      padding: 10px 30px;
      font-size: 15px;
      line-height: 2;
      border-radius: 30px;
      background-color: #1d98dc;
      margin: 5px 10px;
      margin-bottom: 0px;
    }
  }

  .link {
    display: block;
    text-align: center;
    padding: 5px 10px;
    color: #3398dd;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      text-decoration: underline;
    }
  }
}